@import "common";

.author-item{
  label{
    color: $text-color;
    font-size: $list-data-font-size;
  }
  i{
    font-size: $icon-font-size;
    cursor: pointer;
    visibility: hidden;
  }
  .icon-edit{
    color: $yellow-color;
  }
  .icon-trash-2{
    color: $red-color;
  }
  &:hover{
    background-color: $hover-color;
    .author-controls{
      i{
        visibility:visible ;
      }
    }
  }
}
