@import "common";

.authors,.books{
  background-color: greenyellow;
}
.authors-title, .books-title{
  font-weight: 500;
  font-size: 2.05em;
  border-bottom:2px solid $text-color;
  color: $text-color;
}
