@import "common";

.book-component{
  padding-left: 0;
  margin-left: 0;
  label{
    color: $text-color;
    font-size: $list-data-font-size;
    padding-left: 0;
    margin-left: 0;
  }
  i{
    font-size: $icon-font-size;
    cursor: pointer;
    visibility: hidden;
  }
  .icon-edit{
    color: $yellow-color;
  }
  .icon-trash-2{
    color: $red-color;
  }

  &:hover {
    background-color: $hover-color;

    i {
      visibility: visible;
    }
  }
}
