@import "common";

.update-author, .create-author{
  width: 73%;
  span{
    color: $green-color;
    font-size: $green-title-font-size;
    font-weight: $green-title-font-weight;
    border-bottom: 3px solid $green-color;
  }
  .icon-x-circle{
    font-size: $icon-font-size;
    cursor: pointer;
  }
}

.form-group-dev{
  min-width: 98%;
  .label-text{
    font-size: $box-title-text-font-size;
    float: left;
  }
  .form-input{
    font-size: 1em;
    border: 0.13em solid $boarder-line-color;
    height: 1.9em;
    border-radius: 0;
  }
}
