@import "../themes/colors";

.library{
  font-family: 'Raleway', sans-serif;
  .title{
    font-weight: 700;
    color: #253238;
  }

  .library-banner{
    img {
      width: 100%;
      height: auto;
    }

    p {
      font-weight: 500;
      font-size: .9em;
    }
  }
}
